.breadcrumb-wrapper {
    background: #fff;
    border-top: 1px solid #eee;
    padding: 14px 24px;
}

.breadcrumb-header {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: .2em;
}

.ant-breadcrumb a {
    color: #676a6c;
}

.ant-breadcrumb a:hover {
    color: red;
}

.breadcrumb-path {
    font-weight: 600;
    font-size: 13px;
    color: #676a6c;
    text-decoration: underline;
}

.breadcrumb-path-active {
    font-weight: 700;
    font-size: 13px;
    color: #676a6c;
}

.breadcrumb-path:hover {
    color: red;
    text-decoration: underline;
}
