.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 0px;
    font-size: 16px;
    color: #777;
    transition: all .3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.link-delete-question {
    color: #777;
}

.link-delete-question:hover {
    color: #777;
}

.form-icon {
    color: #777;
}

.form-icon:hover {
    color: #333;
}

.add-button {
    width: 90%;
}

.add-button:hover {
    border-style: dashed;
}

.question-row {
    margin: 30px 0px;
    padding: 0px 10px;
    border-left: 3px solid #1AB394;
}

.green-bar {
    border-left: 3px solid #1AB394;
}
.orange-bar {
    border-left: 3px solid #F57B22;
}

.question-label {
    font-size: 15px;
}

.question-row {
    margin-top: 0px;
}
