.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #fff;
    border-color: #e8e8e8;
    color: #303031;
    padding-bottom: 1px;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background: #fff;
}

.ant-tabs-nav .ant-tabs-tab {
    color: #b9b7b7;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #1a1a1a;
}
